{
  "gmail_imap": {
    "host": "imap.gmail.com",
    "port": 993,
    "secure": true,
    "user": "YOUR_EMAIL@gmail.com",
    "pass": "YOUR_APP_PASSWORD",
    "type": "imap"
  },
  "gmail_smtp": {
    "host": "smtp.gmail.com",
    "port": 465,
    "secure": true,
    "user": "YOUR_EMAIL@gmail.com",
    "pass": "YOUR_APP_PASSWORD",
    "type": "smtp"
  },
  "example_imap": {
    "host": "imap.example.com",
    "port": 993,
    "secure": true,
    "user": "user@example.com",
    "pass": "password",
    "type": "imap"
  },
  "example_smtp": {
    "host": "smtp.example.com",
    "port": 465,
    "secure": true,
    "user": "user@example.com",
    "pass": "password",
    "type": "smtp"
  }
}
